server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:ruoyi_wms;DB_CLOSE_DELAY=-1;MODE=MySQL;DATABASE_TO_UPPER=false
    username: sa
    password: 
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      force-request: true
      force-response: true
#  redis:
#    host: localhost
#    port: 6379
#    password: redis_password
#    database: 0

mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.ruoyi.wms.domain
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    com.ruoyi.wms: debug
